* {
  box-sizing: border-box;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.postBtn {
  width: 25%;
  padding : 8px;
  align-items: center;
  font-weight: bold;
}