.App {
  text-align: center;
}
* {
  box-sizing: border-box;
}

/* sa margin udaljavam od drugog diva, sa padding udaljavam unutar diva */

body {
  font-family: Arial;
}

.header {
  padding-bottom: 2%;
  text-align: center;
  background: white;
  color: black;
  flex-wrap: wrap;
}

.searchbox input {
  padding: 6px;
  border-color: rgb(116, 114, 114);
  border-radius: 6%;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.searchbox button{
  background-color: darkgray;
  color:black;
  border-radius: 6%;
  padding: 0.5%;
}

.navbar {
  display: flex;
  background-color:rgb(65, 83, 65);
  display: flex;
  flex-wrap: wrap;
  text-align:'center';
}

.navbar button {
  color: white;
  background-color: rgb(65,83,65);
  padding: 1% 2%;
  text-decoration: none;
  text-align: 'center';
  width: 100%;
  max-width: 240px;
  text-align:'center';
  border:none;
}

.navbar button:hover{
  color:black;
}

.row {  
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 4%;
}

.imgSide{
  padding:5%;
}

.inputTxt{
  padding:1%;
}

.addRecipeDiv{
  border-radius: 3%;
  padding-bottom: 2%; 
}

.addButton {
  background-color: rgb(65,83,65);
  color: white;
  margin-top: 2%;
  margin-bottom: 3%;
  width: 50%;
  padding-bottom: 3%;
  padding-top: 3%;
}

.main {
  flex: 70%;
  background-color: white;
  padding: 3%;
}

.receipe{
  flex:50%;
  background-color: rgba(236, 232, 232, 0.692);
  border-radius: 3%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 4%;
  margin-bottom: 3%;

}

.mainText{ 
  background-color: rgba(236, 232, 232, 0.692);
  border-radius: 3%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 4%;
}

.receipe ul{
  list-style-type:none;

}

.Comment{
  border-radius: 50%;
  background-color:white;
  border-radius: 3%;
  border-style: outset;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 3%;

}

.comment_text {
  text-align:left;
  color:black;
  padding-top: 2%;
}

.user_date{
  text-align:left;
  color:rgba(95, 91, 91, 0.589);
}

.comment-form {
  width: 100%;
  text-align: left;
}
.comment-form .input-group {
  margin: 10px 0; 
  width:100%;
}

.input-group input{
  width:80%;
  border-color: darkseagreen;
}

.comment-form button{
  background-color: darkseagreen;
}

.main ul{
  list-style-type:none;
}

.searchText{
  background-color: rgb(133, 196, 160);
  padding: 1%;
}

.footer {
  padding: 2%;
  text-align: center;
  background: #ddd;
  list-style-type: none; 
}

.fLink{ 
  padding-left: 10%;
}


/* Za iphoneX */
@media screen and (max-width: 400px) {
  .row, .navbar {   
    flex-direction: column;
  }
  .header {
    padding: 20px;
    text-align: center;
    background: white;
    color: black;
  }
}

/* Za tablet */
@media screen and (max-width: 1030px) {
  .row, .navbar {   
    flex-direction: column;
  }
  .header {
    padding: 30px;
    text-align: center;
    background: white;
    color: black;
  }
}