.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

/* sa margin udaljavam od drugog diva, sa padding udaljavam unutar diva */

body {
  font-family: Arial;
}

.header {
  padding-bottom: 2%;
  text-align: center;
  background: white;
  color: black;
  flex-wrap: wrap;
}

.searchbox input {
  width: 200px;
  font-size: 12px;
  padding: 10px;
  border: 2px solid rgb(65, 83, 65);
}

.searchbox button {
  font-size: 12px;
  background-color: rgb(65, 83, 65);
  border: 2px solid rgb(65, 83, 65);
  color: white;
  padding: 10px;
}

.searchbox button:hover {
  color: #ddd;
  cursor: pointer;
}

.searchbox input:focus,
.searchbox button:focus {
  outline: none;
}

.navbar {
  display: flex;
  background-color: rgb(65, 83, 65);
  display: flex;
  flex-wrap: wrap;
  text-align: 'center';
}

.navbar button {
  color: white;
  background-color: rgb(65, 83, 65);
  padding: 1% 2%;
  text-decoration: none;
  text-align: 'center';
  width: 100%;
  max-width: 240px;
  text-align: 'center';
  border: none;
  cursor: pointer;
}

.navbar button:hover {
  color: #ddd;
  cursor: pointer;
}

.navbar button:focus {
  outline: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 4%;
}

.imgSide {
  padding: 5%;
}

.inputTxt {
  padding: 1%;
}

.sideButton {
  background-color: rgb(65, 83, 65);
  border: 2px solid rgb(65, 83, 65);
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 170px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.sideButton:hover {
  color: #ddd;
  cursor: pointer;
}

.sideButton:focus {
  outline: none;
}

.main {
  flex: 70%;
  background-color: white;
  padding: 2%;
  flex-direction: row;
}

.recipe {
  background-color: rgba(236, 232, 232, 0.692);
  border-radius: 3%;
  height: 400px;
  margin: 10px;
  width: 450px;
  border-style: outset;
  cursor: pointer;
}

.recipe-container {
  padding-left: 60px;
  padding-right: 60px;
}
.recipe-container h4 {
  text-align: left;
}

.recipe-container ul {
  text-align: left;
}

.mainText {
  background-color: rgba(236, 232, 232, 0.692);
  border-radius: 3%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 4%;
}

.Comment {
  border-radius: 50%;
  background-color: white;
  border-radius: 3%;
  border-style: outset;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 3%;
}

.comment_text {
  text-align: left;
  color: black;
  padding-top: 2%;
}

.user_date {
  text-align: left;
  color: rgba(95, 91, 91, 0.589);
}

.comment-form {
  width: 100%;
  text-align: left;
}

.comment-form .input-group {
  margin: 10px 0;
  width: 100%;
}

.input-group input {
  width: 80%;
  border-color: darkseagreen;
}

.comment-form button {
  padding: 3px;
}

.searchText {
  background-color: rgb(133, 196, 160);
  padding: 1%;
}

.footer {
  padding: 2%;
  text-align: center;
  background: #ddd;
  list-style-type: none;
}

.fLink {
  padding-left: 10%;
}

.deleteButton {
  border-color: red;
  color: red;
}

/* Za iphoneX */

@media screen and (max-width: 400px) {
  .row, .navbar {
    flex-direction: column;
  }
  .header {
    padding: 20px;
    text-align: center;
    background: white;
    color: black;
  }
}

/* Za tablet */

@media screen and (max-width: 1030px) {
  .row, .navbar {
    flex-direction: column;
  }
  .header {
    padding: 30px;
    text-align: center;
    background: white;
    color: black;
  }
}